<div class="chat-card" data-actor-id="{{actor.id}}" data-item-id="{{item.id}}">
  <h2>{{itemName}}</h2>
  {{#if atkRoll}} {{#if ammo}}
  <div class="atk-ammo-row">
    <strong>Remaining {{ammo.data.name}}s:</strong> {{ammo.data.data.quantity}}
  </div>
  {{/if}}
  <div class="atk-result-total">
    <div class="atk-result-roll">
      <strong>
        Attack Roll:
        <span class="{{critClass}}">{{atkRoll.total}}</span></strong
      >
    </div>
    <div class="atk-result-tooltip">
      <div class="atk-result-formula">
        <strong>{{atkRoll.formula}}</strong>
      </div>
      {{{atkRollTooltip}}}
    </div>
  </div>
  <hr />
  {{else if save}}
  <div class="card-buttons">
    <button data-action="save" data-ability="{{save.ability}}">
      {{save.abilityUpperCase}} Save - DC {{save.dc}}
    </button>
  </div>
  <hr />
  {{/if}} {{#if dmgRows}} {{#each dmgRows as | dmgRow |}}
  <div class="dmg-result-row">
    <strong>{{ dmgType }}Damage:</strong>
    <span class="atk-result-tooltip-container">
      {{dmgRoll.total}}{{critDmgStr}}
      <div class="atk-result-tooltip">
        <div class="atk-result-formula">
          <strong>{{dmgRoll.formula}}</strong>
        </div>
        {{{dmgRollTooltip}}}
      </div>
    </span>
  </div>
  {{/each}}
  <div class="atk-result-total atk-result-total-damage">
    <strong>Total Damage: {{totalDamage}}</strong>
  </div>
  {{/if}}
</div>
