:root {
  --crit-failure: #aa0200;
  --crit-success: #18520b;
}

.quick-item-rolls-card .d-flex {
  display: flex;
}

.quick-item-rolls-card .align-items-center {
  align-items: center;
}

.quick-item-rolls-card .d-none {
  display: none !important;
}

.quick-item-rolls-card .d-inline {
  border: 0;
  display: inline;
}

.quick-item-rolls-card .crit-failure {
  color: var(--crit-failure);
}

.quick-item-rolls-card .crit-success {
  color: var(--crit-success);
}

/* ChatMessage Styling */
.quick-item-rolls-card summary::marker {
  font-size: 1.5em;
}
.quick-item-rolls-card .atk-ammo-row {
  margin-bottom: 0.5rem;
}
.quick-item-rolls-card .atk-result-formula {
  text-align: center;
  margin-bottom: 5px;
  border-radius: 3px;
  background: rgba(120, 120, 120, 0.2);
  border: 1px solid #999;
  border-image: initial;
}
.quick-item-rolls-card .atk-result-tooltip {
  display: none;
  text-align: left;
  width: 90%;
  top: -50%;
  left: 50%;
  position: absolute;
  z-index: 1;
  background: url(/ui/parchment.jpg) repeat rgb(245, 242, 236);
  border-radius: 6px;
  padding: 5px 10px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(111, 108, 102);
  border-image: initial;
}
.quick-item-rolls-card .atk-result-total:hover .atk-result-tooltip,
.quick-item-rolls-card .atk-result-tooltip-container:hover .atk-result-tooltip {
  display: block;
  transform: translate(-50%, -95%);
  font-size: initial;
}
.quick-item-rolls-card .atk-result-total {
  position: relative;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  margin-bottom: 3px;
  border-radius: 3px;
  background: rgba(120, 120, 120, 0.2);
  border: 1px solid #999;
  border-image: initial;
}
.quick-item-rolls-card .atk-result-total-damage {
  box-shadow: rgba(105, 0, 0, 0.76) 0px 0px 2px inset;
  border-color: rgb(132, 5, 5);
}
.quick-item-rolls-card .dmg-result-row {
  position: relative;
  padding-bottom: 0.5rem;
}
